<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #detail-area{
            border: 1px solid white;
        }
    </style>
</head>
<body>
    <div class="outer">
        <br><br>
        <h2 align="center">일반게시판 상세보기</h2>
        <br><br>
        <form action="" method="post">
            <table id="detail-area" align="center">
                <tr>
                    <th width="80">카테고리</th>
                    <td width="80"></td>
                    <th width="80">제목</th>
                    <td width="300"></td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td></td>
                    <th>작성일</th>
                    <td></td>
                </tr>
                <tr>
                    <th height="200">내용</th>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <th>첨부파일</th>
                    <td colspan="3">첨부파일이 없습니다. 파일명</td>
                </tr>
            </table>

        </form>
        <br><br>
    </div>
</body>
</html>