<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .outer{
            background-color: black;
            color: white;
            width: 1000px;
            height: 500px;
            margin: auto;
            margin-top: 50px;
        }

        .list-area{
            border: 1px solid white;
            text-align: center;
        }
        .list-area>tbody>tr:hover{
            background-color: gray;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="outer">
        <h2 align="center">공지사항</h2>
        <br>
        <div align="right">
            <a href="">공지사항 작성</a>
            <br><br>
        </div>
        <table class="list-area" align="center">
            <thead>
                <tr>
                    <th>글번호</th>
                    <th width="400">글제목</th>
                    <th width="100">작성자</th>
                    <th>조회수</th>
                    <th width="100">작성일</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2</td>
                    <td>안녕하세요 등업부탁드립니다.</td>
                    <td>김탈퇴</td>
                    <td>0</td>
                    <td>2001-10-05</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>공지입니다. 꽁지아님</td>
                    <td>관리자</td>
                    <td>2</td>
                    <td>2010-12-10</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>사이트 폐쇄합니다. 다 나가주세요.</td>
                    <td>관리자</td>
                    <td>155</td>
                    <td>2023-04-01</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>